snippet pubf
	public function ${1}(${2})
	{
	    ${3}
	}

snippet pubsf
	public static function ${1}(${2})
	{
	    ${3}
	}

snippet prof
	protected function ${1}(${2})
	{
	    ${3}
	}

snippet prosf
	protected static function ${1}(${2})
	{
	    ${3}
	}

snippet prif
	private function ${1}(${2})
	{
	    ${3}
	}

snippet prisf
	private static function ${1}(${2})
	{
	    ${3}
	}
